---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>TrimmOS - Gestión Inteligente para Barberías</title>
    </head>
    <body class="bg-[#0a0a0c] text-white selection:bg-purple-500/30">
        <slot />
    </body>
</html>
